@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
body {
  width: 100%;
}

.modalbg {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99999;
  -moz-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
  display: block;
  pointer-events: none;
}
.modalbg .dialog {
  width: 430px;
  height: 360px;
  position: relative;
  top: -1000px;
  margin: 10% auto;
  padding: 0px 0px 0px 0px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 4px;
  background: #f6f9fc;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
}
.modalbg .dialog .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
}
.modalbg .dialog .upper {
  position:relative;
  top:0px;
  padding: 10px 24px;
  font-size: 14px;
  height: 40px;
  width:100%px;
  border-bottom: 1px solid #d0d4d9;
  border-radius: 4px;
  background-color:#fff;
}
.modalbg:target {
  display: block;
  pointer-events: auto;
  background: rgba(37,40,43,0.6);
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.modalbg:target .dialog {
  top: -50px;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
}



.tinmodal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99999;
  -moz-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
  display: block;
  pointer-events: none;
}
.tinmodal .dialog {
  width: 430px;
  height: 360px;
  position: relative;
  top: -1000px;
  margin: 10% auto;
  padding: 0px 0px 0px 0px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 4px;
  background: #f6f9fc;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
}
.tinmodal .dialog .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
}
.tinmodal .dialog .upper {
  position:relative;
  top:0px;
  padding: 10px 24px;
  font-size: 14px;
  height: 40px;
  width:100%px;
  border-bottom: 1px solid #d0d4d9;
  border-radius: 4px;
  background-color:#fff;
}
.tinmodal:target {
  display: block;
  pointer-events: auto;
  background: rgba(37,40,43,0.6);
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.tinmodal:target .dialog {
  top: -50px;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
}




.dendtinmodal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99999;
  -moz-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
  display: block;
  pointer-events: none;
}
.dendtinmodal .dialog {
  width: 430px;
  height: 360px;
  position: relative;
  top: -1000px;
  margin: 10% auto;
  padding: 0px 0px 0px 0px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 4px;
  background: #f6f9fc;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
}
.dendtinmodal .dialog .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
}
.dendtinmodal .dialog .upper {
  position:relative;
  top:0px;
  padding: 10px 24px;
  font-size: 14px;
  height: 40px;
  width:100%px;
  border-bottom: 1px solid #d0d4d9;
  border-radius: 4px;
  background-color:#fff;
}
.dendtinmodal:target {
  display: block;
  pointer-events: auto;
  background: rgba(37,40,43,0.6);
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.dendtinmodal:target .dialog {
  top: -50px;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
}




.ismodal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 100;
  -moz-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
  display: block;
  pointer-events: none;
}

.ismodal .dome {
  width: 640px;
  height: 560px;
  position: relative;
  top: -1000px;
  margin: 10% auto;
  padding: 0px 0px 0px 0px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
}
.ismodal .dome .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
}

.ismodal .dome .reader {
  position:relative;
  top:30px;
  left: 20%;
  padding: 10px 18px;
  height: 340px;
  width:344px;
  border-radius: 3px;
  border-bottom: 1px solid #d0d4d9;
  background-color:#f7f7f7;

}
  

.ismodal:target {
  display: block;
  pointer-events: auto;
  background: rgba(37,40,43,0.6);
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.ismodal:target .dome {
  top: -60px;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
}



.buttonb {
  width: 70px;
  height: 36px;
  float: right;
  background-color: #007ee5;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  border: 1px solid #3079ed;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
}


.buttony {
  width: 340px;
  height: 36px;
  background: #00a63f !important;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  border: 1px solid #00a63f;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
}


.buttonout {
  width: 60px;
  height: 36px;
  background: #eb9c12;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  border: 1px solid #eb9c12;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  float: right;
}


.buttonz {
  width: 270px;
  height: 36px;
  background-color: #4d90fe;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  border: 1px solid #3079ed;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
}



.close {
  background: #fff;
  color: #d0d4d9;
  line-height: 25px;
  position: absolute;
  right: 14px;
  text-align: center;
  top: 14px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
}
.close .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
}
.close:hover {
  background: #00d9ff;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.fineprint {
  font-style: italic;
  font-size: 10px;
  color: #646;
}
a {
  color: #333;
  text-decoration: none;
}
