{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "core/maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %}" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "core/maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" %}" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="{% static "core/cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js" %}"></script>
    <script src="{% static "core/cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" %}"></script>
    <script src="{% static "core/cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "core/cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" %}">
    <script src="{% static "core/maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %}" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{% static "core/code.highcharts.com/highcharts.js" %}"></script>
    <script src="{% static "core/code.highcharts.com/modules/exporting.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "core/cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css" %}">
    <script type="text/javascript" src="{% static "core/cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js" %}"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "index" %}">На главную</a>
            {% if user.is_authenticated %}
                <span class="navbar-brand">{{ user.username }}</span>
                <a class="navbar-brand" href="{% url "core:logout" %}?next={{ request.get_full_path }}">Выйти</a>
            {% else %}
                <a class="navbar-brand" href="{% url "core:login" %}?next={{ request.get_full_path }}">Войти</a>
            {% endif %}
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>{% block title %}{% endblock %}</h3>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>
