{% extends "core/base.html" %}

{% load static %}

{% block title %}Вопрос {{ question.title }}{% endblock %}

{% block content %}
    {% if question.author == user %}
        <div><a href="{% url "questions:question_update" pk=question.pk %}">Редактировать</a></div>
    {% endif %}
    <div>{{ question.text }}</div>
    {% for answer in question.answers.all %}
        {{ answer.author }} <b>{{ answer.created_at }}</b>
        <div>{{ answer.text }}</div>
    {% endfor %}
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.errors }}
            {{ form }}
            <input type="submit">
        </form>
    {% endif %}
{% endblock %}
